*{
    box-sizing: border-box;
    background-color: aliceblue;
    border: solid;
    padding: 10px;
    width: 100%;
    height: auto;
    margin: 5px;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    width: 300px;
    height: 200px;
    background-color: blue;
    display: flex;
}

#nav-bar{
    background-color: bisque;
    border: solid 5px orange;
    display: flex;
    position: fixed;
}



.p-1{
    border: solid 2px greenyellow;
}

/*::before{
    top: 50px;
    bottom: 30px;
}
*/

