*{
    box-sizing: border-box;
    background-color: aliceblue;
    padding: 3px;
    width: auto;
    height: fit-content;
    margin: 10;
    border: 10px solid blueviolet;
}

::before{
    top: 50px;
    bottom: 30px;
}