*{
    box-sizing: border-box;
    background-color: aliceblue;
    padding: 3px;
    width: 100%;
    height: fit-content;
    margin: 10;
}

.p-1{
    border: 100px solid 2px greenyellow;
    border-radius: 50%;
}

::before{
    top: 50px;
    bottom: 30px;
}

header{
    width: auto;
    height: fit-content;
    background-color: blue;
}